:root {
    --primary: #007bff;
    --secondary: white;
    --textColor: black;
    --background: whitesmoke;
    --hover: #0069d9;
}

body {
    font-size: 1.2rem;
    background: var(--background);
    color: var(--textColor);
}

@media (max-width:768px) {
    body {
        font-size: 1rem;
    }
}

h1 {
    font-size: 120%;
}

h2 {
    font-size: 110%;
}

h3 {
    font-size: 105%;
}

p {
    font-size: 100%;
}

.btn {
    color: var(--secondary);
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn:focus {
    color: var(--secondary);
}

input[type=checkbox] {
    position: relative;
    cursor: pointer;
    width: 14px;
    height: 13px;
    margin-right: 3px;
    border-radius: 3px;
}

input[type=checkbox]:focus {
    outline: 0;
}

input[type=checkbox]:focus:before {
    border: 1px solid #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 13px;
    height: 13px;
    top: 0;
    left: 0;
    border: 1px solid #ced4da;
    border-radius: 3px;
    background-color: white;
}

input[type=checkbox]:checked:before {
    border: 1px solid var(--blue);
}

input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 4px;
    height: 8px;
    border: solid var(--blue);
    border-width: 0 1.5px 1.5px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 2px;
    left: 35%;
}

label {
    display: block;
    font-size: 75%;
    font-weight: 600;
    margin: 0;
}

.good {
    border: 1px solid var(--green);
    padding-right: calc(1.5em + .75rem);
    background-image: url(../icon/good.svg);
    background-repeat: no-repeat;
    background-position: center right calc(.375em + .1875rem);
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.good:focus {
    border: 1px solid var(--green);
    box-shadow: 0 0 0 0.2rem rgba(0, 255, 0, .25);
}

.bad {
    border: 1px solid var(--red);
    padding-right: calc(1.5em + .75rem);
    background-image: url(../icon/bad.svg);
    background-repeat: no-repeat;
    background-position: center right calc(.375em + .1875rem);
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.bad:focus {
    border: 1px solid var(--red);
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, .25);
}

.loginBlk {
    display: flex;
    width: 100%;
    min-height: calc(100vh - 60px);
    justify-content: center;
    align-items: center;
}

.centerWrap {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.loginForm {
    padding: 3%;
    background: white;
}

.loginForm > div {
    margin: 3% 0;
}

.loginFormTitle {
    text-align: center;
    font-size: 120%;
    font-weight: 600;
}

.rememberArea {
    display: flex;
    justify-content: space-between;
}

.rememberMe {
    display: flex;
    align-items: center;
}

.toRegister {
    font-size: 90%;
}

.registerBlk {
    display: flex;
    width: 100%;
    min-height: calc(100vh - 60px);
    justify-content: center;
    align-items: center;
}

.registerForm {
    padding: 3%;
    background: white;
}

.registerForm > div {
    position: relative;
    margin: 3% 0;
}

.registerFormTitle {
    text-align: center;
    font-size: 120%;
    font-weight: 600;
}

.registerNoticeArea {
    font-size: 60%;
}

.registerBtnArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toLogin {
    font-size: 85%;
    margin: 0;
}

@media (max-width:350px) {
    .toLogin {
        font-size: 75%;
    }
}

.topNav {
    display: flex;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2020;
    height: 50px;
    background: var(--primary);
    color: var(--secondary);
    padding: 0 15px;
}

.navBarToggler {
    display: inline-block;
    padding: 4px 8px;
    cursor: pointer !important;
    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 2px;
    background: transparent;
}

.navBarToggler:focus {
    outline: none;
}

.bar1,
.bar2,
.bar3 {
    width: 18px;
    height: 2px;
    background-color: var(--secondary);
    margin: 4px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 4px);
    transform: rotate(-45deg) translate(-5px, 4px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-4px, -4px);
    transform: rotate(45deg) translate(-4px, -4px);
}

.navBrand {
    margin: 10px;
    line-height: 10px;
    padding: 10px 0;
    font-size: 120%;
}

.sideNav {
    height: calc(100vh - 50px);
    width: 0;
    overflow: hidden;
    background: var(--primary);
    color: var(--secondary);
    position: fixed;
    top: 50px;
    left: 0;
    bottom: 0;
    transition: 0.5s;
    z-index: 2;
    white-space: nowrap;
}

.navBarToggler.navOverlay {
    display: none;
    position: fixed;
    top: 50px;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
    height: calc(100vh - 50px);
    background: transparent;
}

.sideNavLinks {
    padding: 0;
}

.sideNavLinks li {
    display: flex;
    padding: 10px 20px;
}

.sideNavLinks li:hover {
    cursor: pointer;
    background-color: var(--hover);
}

.sideNavLinks a {
    color: var(--secondary);
    font-size: 90%;
    text-decoration: none;
}

.main {
    margin-top: 50px;
    width: 100%;
}

.main > h2 {
    margin: 10px 0 10px 10px;
}

.referralBlk {
    margin: 10px;
}

.referralItemDetails {
    display: none;
}

.referralList {
    border: 1px solid rgba(0, 0, 0, 0.25);
    max-height: 300px;
    overflow: scroll;
}

.referralList li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    padding: 8px;
}

.referralItemName {
    font-weight: 500;
}

.referralItemDetails th {
    font-weight: 500;
    padding: 5px 10px 5px 20px;
}

.settingsBlk {
    padding: 0 5px;
}

.themeForm > div {
    margin: 10px 0;
}
